<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'user/users/left', user: @user %>
    </div>
    <div class="col-lg-5">
      <h4><u><strong><%= @user.name %>がいいねしたつぶやき</strong></u></h4>
      <%= render 'user/mutters/mutter', mutters: @mutters, user: @user %>
      <div class="mx-auto" style="width: 200px;"><%= paginate @mutters %></div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <%= render 'user/users/right', user: @user %>
    </div>
  </div>
  </div>
</div>