<% mutters.each do |mutter| %>
  <div class"box">
    <div style="background-color: #fff0f5;" class="border-top border-left border-right rounded-top mt-4 p-2">
        <%= link_to user_path(mutter.user.id), class:"link" do %>
          <%= image_tag mutter.user.get_profile_image, class: "rounded-circle mr-2", size: "35x35" %>
          <%= mutter.user.name %>
        <% end %>
    </div>
    <div class="border-bottom border-left border-right rounded-bottom mb-4 p-3">
      <strong><%= mutter.mutter %></strong><br>
      <p class="text-center">
        <% if mutter.mutter_image.attached? %>
          <%= image_tag mutter.mutter_image, class: "rounded", height: "200" %>
        <% end %>
      </p>
      <p class="text-right">
        <%= mutter.created_at.strftime("%Y/%m/%d %H:%M") %>
        <%= link_to admin_mutter_path(mutter.id), class:"link ml-2", method: :delete, data: { confirm: "本当に削除しますか？" }, title:"削除する" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </p>
    </div>
  </div>
<% end %>