<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="mb-4">
        <h3><u><%= link_to "ログイン", root_path %></u></h3>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder: "パスワード" %>
      </div>
      <div class="text-right actions">
        <%= f.submit 'ログインする', class: 'btn-sm btn-primary' %>
      </div>
      <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>