<div class="row mb-5">
  <%= form_with model:@mutter,local:true do |f| %>
  <div class="form-group">
    <%= f.text_area :mutter, class: 'form-control', rows: '5', placeholder: "つぶやきの内容を入力" %>
  </div>
  <div class="form-group">
    <%= f.file_field :mutter_image, accept: 'image/*' %>
  </div>
  <div class="text-right actions">
    <%= f.submit 'つぶやく', class: 'btn btn-sm btn-success' %>
  </div>
<% end %>
</div>
<div class="row">
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
    <%= f.text_field :word, class: 'form-control', col: 'auto', placeholder: "キーワードを入力" %>
    <%= f.select :range, options_for_select([['ユーザー名'], ['つぶやき']]) %>
    <%= f.select :search, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"]]) %>
    <%= f.submit "検索", class: 'btn btn-sm btn-secondary' %>
    <% end %>
  </div>
</div>