<%= form_with model:@record ,local:true do |f| %>
  <table class="form-table table-borderless mt-5">
    <tr>
      <td class="pr-3 pt-1"><%= f.label :記録日 %></td>
      <td><%= f.date_select :input_date, use_month_numbers: true %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="pr-3 pt-1"><%= f.label :体重 %></td>
      <td><%= f.text_field :weight, size: 5 %> kg</td>
      <td class="pr-3 py-1"><%= f.label :体脂肪率 %></td>
      <td><%= f.text_field :fat, size: 5 %> %</td>
    </tr>
    <tr>
      <td class="pt-1"><%= f.label :筋肉量 %></td>
      <td><%= f.text_field :muscle, size: 5 %> kg</td>
      <td class="pt-1"><%= f.label :ウエスト %></td>
      <td><%= f.text_field :waist, size: 5 %> cm</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="pr-3 pt-1">
        <%= f.submit "記録する", class: "btn btn-sm btn-primary" %>
      </td>
    </tr>
  </table>
<% end %>