<table class="table table-bordered my-5">
  <thead>
    <tr>
      <th class="text-center">日付</th>
      <th class="text-center">体重</th>
      <th class="text-center">体脂肪率</th>
      <th class="text-center">筋肉量</th>
      <th class="text-center">ウエスト</th>
    </tr>
  </thead>
  <tbody>
    <% records.each do |record| %>
      <tr>
        <td>
          <% if record.user == current_user %>
            <%= link_to edit_record_path(record.id), class:"link" do %>
              <%= record.input_date.strftime("%Y/%m/%d") %>
            <% end %>
          <% else %>
            <%= record.input_date.strftime("%Y/%m/%d") %>
          <% end %>
        </td>
        <td class="text-right pr-2"><%= record.weight %>kg</td>
        <td class="text-right pr-2"><%= record.fat %>%</td>
        <td class="text-right pr-2"><%= record.muscle %>kg</td>
        <td class="text-right pr-2"><%= record.waist %>cm</td>
      </tr>
    <% end %>
  </tbody>
</table>