<table class="table table-bordered my-5">
  <thead>
    <tr>
      <th class="text-center">日付</th>
      <th class="text-center">体重</th>
      <th class="text-center">体脂肪率</th>
      <th class="text-center">筋肉量</th>
      <th class="text-center">ウエスト</th>
    </tr>
  </thead>
  <tbody>
    <% records.each do |record| %>
      <tr>
        <td class="text-center">
          <% if record.user == current_user %>
            <%= link_to edit_record_path(record.id), class:"link", title: "編集する" do %>
              <%= record.input_date.strftime("%Y/%m/%d") %>
            <% end %>
          <% else %>
            <%= record.input_date.strftime("%Y/%m/%d") %>
          <% end %>
        </td>
        <td class="text-right pr-2"><%= record.weight %>kg</td>
        <td class="text-right pr-2"><%= record.fat %>%</td>
        <td class="text-right pr-2"><%= record.muscle %>kg</td>
        <td class="text-right pr-2"><%= record.waist %>cm</td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th class="text-center">結果</th>
      <th class="text-right pr-2">
        <% if records.map(&:weight).any? %>
          <%= sprintf("%+.1f", records.last.weight - records.map(&:weight).compact.first) %>kg
        <% end %>
      </th>
      <th class="text-right pr-2">
        <% if records.map(&:fat).any? %>
          <%= sprintf("%+.1f", records.last.fat - records.map(&:fat).compact.first) %>%
        <% end %>
      </th>
      <th class="text-right pr-2">
        <% if records.map(&:muscle).any? %>
          <%= sprintf("%+.1f", records.last.muscle - records.map(&:muscle).compact.first) %>kg
        <% end %>
      </th>
      <th class="text-right pr-2">
        <% if records.map(&:waist).any? %>
          <%= sprintf("%+.1f", records.last.waist - records.map(&:waist).compact.first) %>cm
        <% end %>
      </th>
    </tr>
  </tfoot>
</table>