<table class="table table-bordered my-5">
  <thead>
    <tr>
      <th class="text-center">日付</th>
      <th class="text-center">体重</th>
      <th class="text-center">体脂肪率</th>
      <th class="text-center">筋肉量</th>
      <th class="text-center">ウエスト</th>
    </tr>
  </thead>
  <tbody>
    <% records.each do |record| %>
      <tr>
        <td class="text-center">
          <% if record.user == current_user %>
            <%= link_to edit_record_path(record.id), class:"link", title: "編集する" do %>
              <%= record.input_date.strftime("%Y/%m/%d") %>
            <% end %>
          <% else %>
            <%= record.input_date.strftime("%Y/%m/%d") %>
          <% end %>
        </td>
        <td class="text-right pr-2"><%= record.weight %>kg</td>
        <td class="text-right pr-2"><%= record.fat %>%</td>
        <td class="text-right pr-2"><%= record.muscle %>kg</td>
        <td class="text-right pr-2"><%= record.waist %>cm</td>
      </tr>
    <% end %>
  </tbody>
  <% if !record.blank %>
    <tfoot>
      <tr>
        <th class="text-center">結果</th>
        <th class="text-right pr-2"><%= records.last.weight - records.first.weight %>kg</th>
        <th class="text-right pr-2"><%= records.last.fat - records.first.fat %>%</th>
        <th class="text-right pr-2"><%= records.last.muscle - records.first.muscle %>kg</th>
        <th class="text-right pr-2"><%= records.last.waist - records.first.waist %>cm</th>
      </tr>
    </tfoot>
  <% end %>
</table>