<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'user/users/left', user: @user %>
    </div>
    <div class="col-lg-6 px-5">
      <h4 class="mb-3"><u><strong><%= @user.name %>の記録</strong></u></h4>
      <!--グラフ-->
      <%= render 'user/records/graph', user: @user, records: @records %>
      <!--投稿フォーム-->
      <% if @user == current_user %>
        <%= render 'user/records/form', user: @user, record: @record %>
      <% end %>
      <!--記録の一覧-->
      <%= render 'user/records/record', user: @user, records: @records %>
      <p class="text-center">
        <strong>
          <%= link_to "前月",record_path(month:@month.prev_month), data: {"turbolinks" => false}, class:"link mr-3" %>
          <%= link_to "今月",record_path(@user.id), data: {"turbolinks" => false}, class:"link mr-3" %>
          <%= link_to "次月",record_path(month:@month.next_month), data: {"turbolinks" => false}, class:"link" %>
        </strong>
      </p>
    </div>
    <div class="col-lg-3">
      <%= render 'user/users/right', user: @user %>
    </div>
  </div>
</div>