<% mutter.comments.each do |comment| %>
  <div class="box">
    <!--コメント主情報-->
    <div style="background-color:#fffacd;" class="border-top border-left border-right rounded-top mt-4 p-2">
      <%= link_to comment.user, class: "link" do %>
        <%= image_tag comment.user.get_profile_image, class: "rounded-circle mr-2", size:"35x35" %>
        <%= comment.user.name %>
      <% end %>
     </div>

    <!--コメント内容・削除-->
    <div class="border-bottom border-left border-right rounded-bottom p-3 mb-4">
      <strong><%= comment.comment %></strong><br>
      <p class="text-center">
        <% if comment.comment_image.attached? %>
          <%= image_tag comment.comment_image, size: "200x200" %>
        <% end %>
      </p>
      <p class="text-right">
        <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
        <% if comment.user == current_user %>
          <%= link_to mutter_comment_path(comment.mutter, comment), class:"link ml-2", method: :delete, remote: true, data: { confirm: "本当に削除しますか？" }, title:"削除する" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>