<table>
  <% mutter.comments.each do |comment| %>
  <tr>
    <td>
      <%= link_to(comment.user) do %>
      <%= image_tag comment.user.get_profile_image, size:"40x40" %>
      <%= comment.user.name %>
      <% end %>
    </td>
    <td>
      <%= comment.comment %>
    </td>
    <td>
      <% if comment.user == current_user %>
      <%= link_to "Destroy", mutter_comment_path(comment.mutter, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
      </td>
      <% end %>
  </tr>
  <% end %>
</table>