<% mutters.each do |mutter| %>

<div class="mutter-box">
  <!--投稿主情報-->
  <div style="background-color: #fff0f5;" class="border-top border-left border-right rounded-top mt-4 p-2">
    <%= link_to user_path(mutter.user.id), class:"link" do %>
      <%= image_tag mutter.user.get_profile_image, class: "rounded-circle mr-2", size: "35x35" %>
      <%= mutter.user.name %>
    <% end %>
  </div>

  <!--投稿内容-->
  <div class="border-left border-right p-3">
    <strong><%= mutter.mutter %></strong><br>
    <p class="text-center">
      <% if mutter.mutter_image.attached? %>
        <%= image_tag mutter.mutter_image, class: "rounded", height: "200" %>
      <% end %>
    </p>
    <p class="text-right">
      <%= mutter.created_at.strftime("%Y/%m/%d %H:%M") %>
    </p>
  </div>

  <!--いいね・コメント・編集・削除-->
  <div class="bottom border-bottom border-left border-right rounded-bottom mb-4 pt-1 pl-3">
    <p class="pr-3" id="favorite-btn-<%= mutter.id %>">
      <%= render "user/favorites/favorite-btn", mutter: mutter %>
    </p>
    <p class="pr-3">
      <%= link_to mutter_path(mutter.id), class:"link", title:"コメントする" do %>
        <i class="fas fa-comment-alt"></i>
        <%= mutter.comments.count %>
      <% end %>
    </p>
    <% if mutter.user == current_user %>
      <p class="pr-3">
        <%= link_to edit_mutter_path(mutter), class:"link", title:"編集する" do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </p>
      <p class="pr-3">
        <%= link_to mutter, class:"link", method: :delete, data: { confirm: "本当に削除しますか？" }, title:"削除する" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </p>
    <% end %>
  </div>
</div>

<% end %>