<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'user/users/left', user: @user %>
    </div>
    <div class="col-lg-5">
      <h4><u><strong>投稿の編集</strong></u></h4>
      <%= form_with model:@mutter,local:true do |f| %>
      <div class="form-group">
        <strong>投稿内容</strong>
        <%= f.text_area :mutter, class: 'form-control' %>
      </div>
      <div class="form-group">
        <strong>画像</strong>
        <%= f.file_field :mutter_image, accept: 'image/*' %>
      </div>
      <div class="text-right actions">
        <%= f.submit "更新する", class: 'btn-sm btn-secondary' %>
      </div>
      <% end %>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <%= render 'user/users/right', user: @user %>
    </div>
  </div>
</div>