<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render "user/users/left", user: @user %>
    </div>
    <div class="col-lg-6 px-5">
      <h4 class="mb-4">
        <strong>
          <i class="far fa-moon"></i>
          投稿の編集
        </strong>
      </h4>
      <%= form_with model:@mutter,local:true do |f| %>
      <div class="form-group text-right">
        <%= f.text_area :mutter, class: "form-control", rows: "5" %>
        <%= f.file_field :mutter_image, accept: "image/*" %>
        <%= f.submit "更新する", class: "btn btn-sm btn-success" %>
      </div>
      <% end %>
    </div>
    <div class="col-lg-3">
      <%= render "user/users/right", user: @user %>
    </div>
  </div>
</div>